<?php

    # Configuraton file for the NOAA Current Conditions script.
    #===============================================================

    # Full Path to the XML file from NOAA.
	$noaa_xml_file = "/path/to/KDFW.xml";

    # If the city in the XML file isn't what you want, you can manually set it
	# by uncommeting $obs_city here and commenting the one in the $xml list.
	#$obs_city = "Dallas, TX";


?>